@CHARSET "ISO-8859-1";

.formtable {
	padding: 10px;
	border: 1px solid blue;
}

input[type=text] {
	width: 250px;
	padding-left: 10px
}

.label {
	text-align: right;
	vertical-align: top;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px
}

table.accounts {
	padding: 20px;
	border: 1px solid gray;
}